In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
import re
import warnings

warnings.filterwarnings('ignore')
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
gun=pd.read_csv('texas.csv')
gun.describe()
sum(gun.isna())
gun.head()

,incident_id,date,city_or_county,address,n_killed,n_injured,congressional_district,incident_characteristics,latitude,location_description,longitude,notes,participant_age,participant_age_group,participant_gender,participant_name,participant_status,participant_type,state_house_district,state_senate_district
0,487891,6/15/2013,Houston,9780 Bissonnet,1,3,9.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",29.6754,Manny's Place,-95.5499,1 killed; 3 inj. Parking lot of after hrs stri...,0::43||1::24||2::27||3::28,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Female||3::Female||4::Male,NaN,0::Killed||1::Injured||2::Injured||3::Injured|...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,146.0,13.0
1,490245,7/1/2013,Fort Worth,2900 block of Pate Drive,4,0,33.0,"Shot - Dead (murder, accidental, suicide)||Mas...",32.7157,NaN,-97.2597,Unborn child killed by shot to the mother's ab...,0::39||1::22||2::10||3::0||4::22,0::Adult 18+||1::Adult 18+||2::Child 0-11||3::...,0::Female||1::Female||2::Male||4::Male,0::Annette Carroll Reed||1::Chanice Renee Reed...,0::Killed||1::Killed||2::Killed||3::Killed||4:...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,95.0,10.0
2,491287,7/28/2013,Dallas,2400 block of Royal Lane,0,4,24.0,Shot - Wounded/Injured||Mass Murder (4+ deceas...,32.8958,McDonald's,-96.8986,NaN,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male,NaN,0::Injured||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim,103.0,16.0
3,491698,8/7/2013,Dallas,7100 block of Long Canyon Trail,4,4,30.0,"Shot - Wounded/Injured||Shot - Dead (murder, a...",32.6412,NaN,-96.9481,"Address #1 as shown above, address #2 is 141 G...",0::47||1::28||2::11||3::13||4::43||5::17||6::1...,0::Adult 18+||1::Adult 18+||2::Child 0-11||3::...,0::Female||1::Female||2::Male||3::Male||4::Fem...,0::Zina Bowser||1::Neima Williams||2::Myles||3...,0::Killed||1::Killed||2::Injured||3::Injured||...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,111.0,23.0
4,480605,9/20/2013,Rice,700 block of NW 0149,5,0,6.0,"Shot - Dead (murder, accidental, suicide)||Sui...",32.2337,NaN,-96.4661,NaN,0::33||1::10||2::8||3::4||4::33,0::Adult 18+||1::Child 0-11||2::Child 0-11||3:...,0::Male||1::Male||2::Male||3::Male||4::Female,0::Israel Chairez Alvarez||1::Misael Alvarez||...,0::Killed||1::Killed||2::Killed||3::Killed||4:...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,NaN,22.0

In [4]:
colnames=Series(gun.columns.values)
df_participant=gun[colnames[colnames.map(lambda x:x.startswith('part'))]]
df_participant['n_killed']=gun['n_killed']
df_participant['n_injured']=gun['n_injured']
df_participant.head()

,participant_age,participant_age_group,participant_gender,participant_name,participant_status,participant_type,n_killed,n_injured
0,0::43||1::24||2::27||3::28,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Female||3::Female||4::Male,NaN,0::Killed||1::Injured||2::Injured||3::Injured|...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,1,3
1,0::39||1::22||2::10||3::0||4::22,0::Adult 18+||1::Adult 18+||2::Child 0-11||3::...,0::Female||1::Female||2::Male||4::Male,0::Annette Carroll Reed||1::Chanice Renee Reed...,0::Killed||1::Killed||2::Killed||3::Killed||4:...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,4,0
2,NaN,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male,NaN,0::Injured||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim,0,4
3,0::47||1::28||2::11||3::13||4::43||5::17||6::1...,0::Adult 18+||1::Adult 18+||2::Child 0-11||3::...,0::Female||1::Female||2::Male||3::Male||4::Fem...,0::Zina Bowser||1::Neima Williams||2::Myles||3...,0::Killed||1::Killed||2::Injured||3::Injured||...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,4,4
4,0::33||1::10||2::8||3::4||4::33,0::Adult 18+||1::Child 0-11||2::Child 0-11||3:...,0::Male||1::Male||2::Male||3::Male||4::Female,0::Israel Chairez Alvarez||1::Misael Alvarez||...,0::Killed||1::Killed||2::Killed||3::Killed||4:...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,5,0

In [5]:
participant_type=gun['participant_type']
df_participant['n_victim']=participant_type.map(lambda x:len(re.findall('Victim',str(x))))
# check if n_victim=n_killed+n_injured
p=df_participant.copy()
len(p[p['n_victim']!=(p['n_killed']+p['n_injured'])]) #2740
df_participant['n_suspect']=participant_type.map(lambda x:len(re.findall('Subject-Suspect',str(x))))

In [6]:
victim_gender=list(df_participant['participant_gender'].map(lambda x:re.findall('[a-zA-Z]+',str(x))))
for i in range(len(victim_gender)):
    j=df_participant['n_victim'][i]
    if j==0:
        victim_gender[i]=NaN
    else:
        victim_gender[i]=victim_gender[i][0:j]
victim_gender=Series(victim_gender)
df_participant['victim_gender']=victim_gender

In [7]:
suspect_gender=list(df_participant['participant_gender'].map(lambda x:re.findall('[a-zA-Z]+',str(x))))
for i in range(len(victim_gender)):
    j=df_participant['n_suspect'][i]
    if j==0:
        suspect_gender[i]=NaN
    else:
        suspect_gender[i]=suspect_gender[i][-j:]
suspect_gender=Series(suspect_gender)
df_participant['suspect_gender']=suspect_gender

In [8]:
age_group=df_participant['participant_age_group'].map(lambda x:re.findall('[a-zA-Z]+ \d+[-]*\d+[\+]*',str(x)))
len_each_age=age_group.map(lambda x:len(x))
idx=len_each_age[len_each_age==0].index.values
age_group[idx]=df_participant.iloc[idx]['participant_age_group']
vic_age_g={}
suspect_age_g={}
for i in range(len(age_group)):
    j=int(df_participant['n_suspect'][i])
    k=int(df_participant['n_victim'][i])
    if i not in idx:
        if j==0:
            suspect_age_g[i]=NaN
        else:
            suspect_age_g[i]=age_group[i][-j:]
        if k==0:
            vic_age_g[i]=NaN
        else:
            vic_age_g[i]=age_group[i][0:k]
suspect_age_g=Series(suspect_age_g)
vic_age_g=Series(vic_age_g)
df_participant['victim_age_group']=vic_age_g
df_participant['suspect_age_group']=suspect_age_g

In [9]:
df_participant.iloc[0]

participant_age                                 0::43||1::24||2::27||3::28
participant_age_group    0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
participant_gender         0::Male||1::Male||2::Female||3::Female||4::Male
participant_name                                                       NaN
participant_status       0::Killed||1::Injured||2::Injured||3::Injured|...
participant_type         0::Victim||1::Victim||2::Victim||3::Victim||4:...
n_killed                                                                 1
n_injured                                                                3
n_victim                                                                 4
n_suspect                                                                1
victim_gender                                 [Male, Male, Female, Female]
suspect_gender                                                      [Male]
victim_age_group              [Adult 18+, Adult 18+, Adult 18+, Adult 18+]
suspect_age_group                                              [Adult 18+]
Name: 0, dtype: object

In [10]:
df_participant['n_victim_male']=df_participant['victim_gender'].map(lambda x:len(re.findall('Male',str(x))))
df_participant['n_victim_female']=df_participant['victim_gender'].map(lambda x:len(re.findall('Female',str(x))))
df_participant['n_suspect_male']=df_participant['suspect_gender'].map(lambda x:len(re.findall('Male',str(x))))
df_participant['n_suspect_female']=df_participant['suspect_gender'].map(lambda x:len(re.findall('Female',str(x))))

df_participant['n_suspect_Child']=df_participant['suspect_age_group'].map(lambda x:len(re.findall('Child',str(x))))
df_participant['n_suspect_Teen']=df_participant['suspect_age_group'].map(lambda x:len(re.findall('Teen',str(x))))
df_participant['n_suspect_Adult']=df_participant['suspect_age_group'].map(lambda x:len(re.findall('Adult',str(x))))

df_participant['n_victim_Child']=df_participant['victim_age_group'].map(lambda x:len(re.findall('Child',str(x))))
df_participant['n_victim_Teen']=df_participant['victim_age_group'].map(lambda x:len(re.findall('Teen',str(x))))
df_participant['n_victim_Adult']=df_participant['victim_age_group'].map(lambda x:len(re.findall('Adult',str(x))))

In [11]:
col=['n_victim','n_suspect','victim_gender','suspect_gender','victim_age_group','suspect_age_group',
     'n_victim_male','n_victim_female','n_suspect_male','n_suspect_female','n_suspect_Child','n_suspect_Teen',
    'n_suspect_Adult','n_victim_Child','n_victim_Teen','n_victim_Adult']
for c in col:
    gun[c]=df_participant[c]

In [12]:
gun.describe()

,incident_id,n_killed,n_injured,congressional_district,latitude,longitude,state_house_district,state_senate_district,n_victim,n_suspect,n_victim_male,n_victim_female,n_suspect_male,n_suspect_female,n_suspect_Child,n_suspect_Teen,n_suspect_Adult,n_victim_Child,n_victim_Teen,n_victim_Adult
count,1.357700e+04,13577.000000,13577.000000,12937.000000,13017.000000,13017.000000,10660.000000,12937.000000,13577.000000,13577.000000,13577.000000,13577.000000,13577.000000,13577.000000,13577.000000,13577.000000,13577.000000,13577.000000,13577.000000,13577.000000
mean,5.318932e+05,0.371658,0.449731,19.789441,30.840487,-97.265306,86.683677,16.320476,0.880828,0.977536,0.665906,0.158945,0.832953,0.080651,0.005156,0.062090,0.821610,0.026294,0.047433,0.740664
std,2.808482e+05,0.644238,0.753011,10.158235,1.839663,2.249416,45.208827,8.625521,0.946381,0.995650,0.712118,0.450152,0.898221,0.295902,0.073649,0.320285,0.901528,0.215695,0.243273,0.795718
min,9.264500e+04,0.000000,0.000000,1.000000,25.892500,-106.604000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.921380e+05,0.000000,0.000000,12.000000,29.649700,-98.377200,49.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.138260e+05,0.000000,0.000000,19.000000,30.147700,-97.040400,95.000000,16.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,7.604530e+05,1.000000,1.000000,29.000000,32.661700,-95.452000,124.000000,24.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.082829e+06,27.000000,20.000000,36.000000,37.941900,-93.738900,150.000000,31.000000,46.000000,20.000000,19.000000,23.000000,16.000000,5.000000,2.000000,6.000000,20.000000,11.000000,4.000000,29.000000

In [13]:
gun.to_csv('gun_cleaned3.csv', index=False)